## Performance Testing Report

With AlignKit we did a various forms of perfomance testing to make it as robust as possible. The perfomance test involves

1. FPS Stability

Inorder to maintain a smooth usage, the OS must maintain a 60FPS refresh rate. With Alignkit we were able to maintain the FPS at its best.

| Result Comparision |
| -- |
| <img width=420 alt="FPS" src="https://github.com/user-attachments/assets/9948dbf8-d7c5-48f0-9ff1-db3871222e24"> |

2. CPU Utilisation

While dealing with constraint we need to make sure the CPU utilisation is optimal. The 

| Result Comparision |
| -- |
| <img width="420" alt="CPU U" src="https://github.com/user-attachments/assets/b2ade75d-9284-4505-a6d6-808252e717d7"> |


3. Core Animation Layout Duration

| Result Comparision |
| -- |
| <img width="420" alt="CAU" src="https://github.com/user-attachments/assets/711974e2-9820-4406-8218-41961b85333e"> |

4. Memory Usage

| Result Comparision |
| -- |
|  <img width="420" alt="Memory" src="https://github.com/user-attachments/assets/ab4c18c4-2e4c-4e1c-8ca4-8cee3ae253ec"> | 


5. Boot Constraint Setup Perfomance

| Result Comparision |
| -- |
| <img width="420" alt="BCSP" src="https://github.com/user-attachments/assets/2e83d776-4caa-4661-b136-02e15e8e5186"> |


6. Layout Performance

| Result Comparision |
| -- |
| <img width="420" alt="LP" src="https://github.com/user-attachments/assets/e7fd3057-052a-4b20-bf37-bd84921514c4"> |
